// Remixless CSS Grid
// A simple CSS grid system -- a remix of remixed css grid systems.
//
// The elastic grid, the width and margin of columns comes from cssgrid.net.
// The subcolumn support comes from columnal.com, which comes from 960.gs.
// The classes organization comes from http://webdesignerwall.com/tutorials/the-simpler-css-grid
// The LESS function of columns widths comes from http://twitter.github.com/bootstrap/.

.columns {

    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    
    @column_width: 4.85%;
    @column_gutter_width: 3.8%;
    
    .columns(@span: 1, @width: @column_width, @gutter_width: @column_gutter_width) {
        width: (@width * @span) + (@gutter_width * (@span - 1));
    }
    
    .prepend(@span: 1, @width: @column_width, @gutter_width: @column_gutter_width) {
        margin-left: (@width * @span) + (@gutter_width * (@span+1)) !important;
        &.first {
            margin-left: (@width * @span) + (@gutter_width * (@span)) !important;
        }
    }
    
    .append(@span: 1, @width: @column_width, @gutter_width: @column_gutter_width) {
        margin-right: (@width * @span) + (@gutter_width * @span);
    }
    
    .blk {
        float: left;
        margin-left: @column_gutter_width;
        position: relative;
        background: rgba(226, 0, 0, 0.3);
        
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        .blk {
            background: red;
        }
        
        &.first {
            clear: left;
            margin-left: 0 !important;
        }
        
        // Columns
        
        &.width-1 {
            .columns(1);
        }
        &.width-2 {
            .columns(2);
            
            @gutter_width: 28.62%;
            @width: 35.69%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1 { .columns(1, @width, @gutter_width); }
                &.width-2 { .columns(2, @width, @gutter_width); }
                
                &.prepend-1 { .prepend(1, @width, @gutter_width); }
                
                &.append-1 { .append(1, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-3 {
            .columns(3);
            
            @gutter_width: 17.45%;
            @width: 21.7%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1 { .columns(1, @width, @gutter_width); }
                &.width-2 { .columns(2, @width, @gutter_width); }
                &.width-3 { .columns(3, @width, @gutter_width); }
                
                &.prepend-1 { .prepend(1, @width, @gutter_width); }
                &.prepend-2 { .prepend(2, @width, @gutter_width); }
                
                &.append-1 { .append(1, @width, @gutter_width); }
                &.append-2 { .append(2, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-4 {
            .columns(4);
            
            @gutter_width: 12.36%;
            @width: 15.73%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1 { .columns(1, @width, @gutter_width); }
                &.width-2 { .columns(2, @width, @gutter_width); }
                &.width-3 { .columns(3, @width, @gutter_width); }
                &.width-4 { .columns(4, @width, @gutter_width); }
                
                &.prepend-1 { .prepend(1, @width, @gutter_width); }
                &.prepend-2 { .prepend(2, @width, @gutter_width); }
                &.prepend-3 { .prepend(3, @width, @gutter_width); }
                
                &.append-1 { .append(1, @width, @gutter_width); }
                &.append-2 { .append(2, @width, @gutter_width); }
                &.append-3 { .append(3, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-5 {
            .columns(5);
            
            @gutter_width: 9.7%;
            @width: 12.24%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1 { .columns(1, @width, @gutter_width); }
                &.width-2 { .columns(2, @width, @gutter_width); }
                &.width-3 { .columns(3, @width, @gutter_width); }
                &.width-4 { .columns(4, @width, @gutter_width); }
                &.width-5 { .columns(5, @width, @gutter_width); }
                
                &.prepend-1 { .prepend(1, @width, @gutter_width); }
                &.prepend-2 { .prepend(2, @width, @gutter_width); }
                &.prepend-3 { .prepend(3, @width, @gutter_width); }
                &.prepend-4 { .prepend(4, @width, @gutter_width); }
                
                &.append-1 { .append(1, @width, @gutter_width); }
                &.append-2 { .append(2, @width, @gutter_width); }
                &.append-3 { .append(3, @width, @gutter_width); }
                &.append-4 { .append(4, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-6 {
            .columns(6);
            
            @gutter_width: 7.77%;
            @width: 10.19%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1 { .columns(1, @width, @gutter_width); }
                &.width-2 { .columns(2, @width, @gutter_width); }
                &.width-3 { .columns(3, @width, @gutter_width); }
                &.width-4 { .columns(4, @width, @gutter_width); }
                &.width-5 { .columns(5, @width, @gutter_width); }
                &.width-6 { .columns(6, @width, @gutter_width); }
                
                &.prepend-1 { .prepend(1, @width, @gutter_width); }
                &.prepend-2 { .prepend(2, @width, @gutter_width); }
                &.prepend-3 { .prepend(3, @width, @gutter_width); }
                &.prepend-4 { .prepend(4, @width, @gutter_width); }
                &.prepend-5 { .prepend(5, @width, @gutter_width); }
                
                &.append-1 { .append(1, @width, @gutter_width); }
                &.append-2 { .append(2, @width, @gutter_width); }
                &.append-3 { .append(3, @width, @gutter_width); }
                &.append-4 { .append(4, @width, @gutter_width); }
                &.append-5 { .append(5, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-7 {
            .columns(7);
            
            @gutter_width: 6.56%;
            @width: 8.66%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1 { .columns(1, @width, @gutter_width); }
                &.width-2 { .columns(2, @width, @gutter_width); }
                &.width-3 { .columns(3, @width, @gutter_width); }
                &.width-4 { .columns(4, @width, @gutter_width); }
                &.width-5 { .columns(5, @width, @gutter_width); }
                &.width-6 { .columns(6, @width, @gutter_width); }
                &.width-7 { .columns(7, @width, @gutter_width); }
                
                &.prepend-1 { .prepend(1, @width, @gutter_width); }
                &.prepend-2 { .prepend(2, @width, @gutter_width); }
                &.prepend-3 { .prepend(3, @width, @gutter_width); }
                &.prepend-4 { .prepend(4, @width, @gutter_width); }
                &.prepend-5 { .prepend(5, @width, @gutter_width); }
                &.prepend-6 { .prepend(6, @width, @gutter_width); }
                
                &.append-1 { .append(1, @width, @gutter_width); }
                &.append-2 { .append(2, @width, @gutter_width); }
                &.append-3 { .append(3, @width, @gutter_width); }
                &.append-4 { .append(4, @width, @gutter_width); }
                &.append-5 { .append(5, @width, @gutter_width); }
                &.append-6 { .append(6, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-8 {
            .columns(8);
            
            @gutter_width: 5.78%;
            @width: 7.44%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1 { .columns(1, @width, @gutter_width); }
                &.width-2 { .columns(2, @width, @gutter_width); }
                &.width-3 { .columns(3, @width, @gutter_width); }
                &.width-4 { .columns(4, @width, @gutter_width); }
                &.width-5 { .columns(5, @width, @gutter_width); }
                &.width-6 { .columns(6, @width, @gutter_width); }
                &.width-7 { .columns(7, @width, @gutter_width); }
                &.width-8 { .columns(8, @width, @gutter_width); }
                
                &.prepend-1 { .prepend(1, @width, @gutter_width); }
                &.prepend-2 { .prepend(2, @width, @gutter_width); }
                &.prepend-3 { .prepend(3, @width, @gutter_width); }
                &.prepend-4 { .prepend(4, @width, @gutter_width); }
                &.prepend-5 { .prepend(5, @width, @gutter_width); }
                &.prepend-6 { .prepend(6, @width, @gutter_width); }
                &.prepend-7 { .prepend(7, @width, @gutter_width); }
                
                &.append-1 { .append(1, @width, @gutter_width); }
                &.append-2 { .append(2, @width, @gutter_width); }
                &.append-3 { .append(3, @width, @gutter_width); }
                &.append-4 { .append(4, @width, @gutter_width); }
                &.append-5 { .append(5, @width, @gutter_width); }
                &.append-6 { .append(6, @width, @gutter_width); }
                &.append-7 { .append(7, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-9 {
            .columns(9);
            
            @gutter_width: 5.1%;
            @width: 6.57%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1 { .columns(1, @width, @gutter_width); }
                &.width-2 { .columns(2, @width, @gutter_width); }
                &.width-3 { .columns(3, @width, @gutter_width); }
                &.width-4 { .columns(4, @width, @gutter_width); }
                &.width-5 { .columns(5, @width, @gutter_width); }
                &.width-6 { .columns(6, @width, @gutter_width); }
                &.width-7 { .columns(7, @width, @gutter_width); }
                &.width-8 { .columns(8, @width, @gutter_width); }
                &.width-9 { .columns(9, @width, @gutter_width); }
                
                &.prepend-1 { .prepend(1, @width, @gutter_width); }
                &.prepend-2 { .prepend(2, @width, @gutter_width); }
                &.prepend-3 { .prepend(3, @width, @gutter_width); }
                &.prepend-4 { .prepend(4, @width, @gutter_width); }
                &.prepend-5 { .prepend(5, @width, @gutter_width); }
                &.prepend-6 { .prepend(6, @width, @gutter_width); }
                &.prepend-7 { .prepend(7, @width, @gutter_width); }
                &.prepend-8 { .prepend(8, @width, @gutter_width); }
                
                &.append-1 { .append(1, @width, @gutter_width); }
                &.append-2 { .append(2, @width, @gutter_width); }
                &.append-3 { .append(3, @width, @gutter_width); }
                &.append-4 { .append(4, @width, @gutter_width); }
                &.append-5 { .append(5, @width, @gutter_width); }
                &.append-6 { .append(6, @width, @gutter_width); }
                &.append-7 { .append(7, @width, @gutter_width); }
                &.append-8 { .append(8, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-10 {
            .columns(10);
            
            @gutter_width: 4.61%;
            @width: 5.85%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1   { .columns(1, @width, @gutter_width); }
                &.width-2   { .columns(2, @width, @gutter_width); }
                &.width-3   { .columns(3, @width, @gutter_width); }
                &.width-4   { .columns(4, @width, @gutter_width); }
                &.width-5   { .columns(5, @width, @gutter_width); }
                &.width-6   { .columns(6, @width, @gutter_width); }
                &.width-7   { .columns(7, @width, @gutter_width); }
                &.width-8   { .columns(8, @width, @gutter_width); }
                &.width-9   { .columns(9, @width, @gutter_width); }
                &.width-10 { .columns(10, @width, @gutter_width); }
                
                &.prepend-1 { .prepend(1, @width, @gutter_width); }
                &.prepend-2 { .prepend(2, @width, @gutter_width); }
                &.prepend-3 { .prepend(3, @width, @gutter_width); }
                &.prepend-4 { .prepend(4, @width, @gutter_width); }
                &.prepend-5 { .prepend(5, @width, @gutter_width); }
                &.prepend-6 { .prepend(6, @width, @gutter_width); }
                &.prepend-7 { .prepend(7, @width, @gutter_width); }
                &.prepend-8 { .prepend(8, @width, @gutter_width); }
                &.prepend-9 { .prepend(9, @width, @gutter_width); }
                
                &.append-1 { .append(1, @width, @gutter_width); }
                &.append-2 { .append(2, @width, @gutter_width); }
                &.append-3 { .append(3, @width, @gutter_width); }
                &.append-4 { .append(4, @width, @gutter_width); }
                &.append-5 { .append(5, @width, @gutter_width); }
                &.append-6 { .append(6, @width, @gutter_width); }
                &.append-7 { .append(7, @width, @gutter_width); }
                &.append-8 { .append(8, @width, @gutter_width); }
                &.append-9 { .append(9, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-11 {
            .columns(11);
            
            @gutter_width: 4.14%;
            @width: 5.32%;
            
            .blk {
                margin-left: @gutter_width;
                &.width-1  { .columns(1, @width, @gutter_width); }
                &.width-2  { .columns(2, @width, @gutter_width); }
                &.width-3  { .columns(3, @width, @gutter_width); }
                &.width-4  { .columns(4, @width, @gutter_width); }
                &.width-5  { .columns(5, @width, @gutter_width); }
                &.width-6  { .columns(6, @width, @gutter_width); }
                &.width-7  { .columns(7, @width, @gutter_width); }
                &.width-8  { .columns(8, @width, @gutter_width); }
                &.width-9  { .columns(9, @width, @gutter_width); }
                &.width-10 { .columns(10, @width, @gutter_width); }
                &.width-11 { .columns(11, @width, @gutter_width); }
                
                &.prepend-1  { .prepend(1, @width, @gutter_width); }
                &.prepend-2  { .prepend(2, @width, @gutter_width); }
                &.prepend-3  { .prepend(3, @width, @gutter_width); }
                &.prepend-4  { .prepend(4, @width, @gutter_width); }
                &.prepend-5  { .prepend(5, @width, @gutter_width); }
                &.prepend-6  { .prepend(6, @width, @gutter_width); }
                &.prepend-7  { .prepend(7, @width, @gutter_width); }
                &.prepend-8  { .prepend(8, @width, @gutter_width); }
                &.prepend-9  { .prepend(9, @width, @gutter_width); }
                &.prepend-10 { .prepend(10, @width, @gutter_width); }
                
                &.append-1  { .append(1, @width, @gutter_width); }
                &.append-2  { .append(2, @width, @gutter_width); }
                &.append-3  { .append(3, @width, @gutter_width); }
                &.append-4  { .append(4, @width, @gutter_width); }
                &.append-5  { .append(5, @width, @gutter_width); }
                &.append-6  { .append(6, @width, @gutter_width); }
                &.append-7  { .append(7, @width, @gutter_width); }
                &.append-8  { .append(8, @width, @gutter_width); }
                &.append-9  { .append(9, @width, @gutter_width); }
                &.append-10 { .append(10, @width, @gutter_width); }
                
                &.left-gutter {
                    padding-left: @gutter_width;
                }
                
                &.right-gutter {
                    padding-right: @gutter_width;
                }
            }
        }
        &.width-12 { .columns(12); }
        
        
        // Prepends & Appends
        
        &.prepend-1   { .prepend(1); }
        &.prepend-2   { .prepend(2); }
        &.prepend-3   { .prepend(3); }
        &.prepend-4   { .prepend(4); }
        &.prepend-5   { .prepend(5); }
        &.prepend-6   { .prepend(6); }
        &.prepend-7   { .prepend(7); }
        &.prepend-8   { .prepend(8); }
        &.prepend-9   { .prepend(9); }
        &.prepend-10 { .prepend(10); }
        &.prepend-11 { .prepend(11); }
        
        &.append-1   { .append(1); }
        &.append-2   { .append(2); }
        &.append-3   { .append(3); }
        &.append-4   { .append(4); }
        &.append-5   { .append(5); }
        &.append-6   { .append(6); }
        &.append-7   { .append(7); }
        &.append-8   { .append(8); }
        &.append-9   { .append(9); }
        &.append-10 { .append(10); }
        &.append-11 { .append(11); }
        
        &.left-gutter {
            padding-left: @column_gutter_width;
        }
        
        &.right-gutter {
            padding-right: @column_gutter_width;
        }
        
        
        // Specific styles for elements based on position on columns
        
        img, video, object, embed {
            max-width: 100%;
        }
    }
}
